catalog {
    width: 100%;
    background-color: gray;
}

book {
    display: block;
    width: 320px;
    padding: 10px;
    border: 5px solid black;
    margin: 15px;
}

titleofbook {
    font-size: larger;
    font-family: cursive;
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

author {
    font-size: large;
    font-family: cursive;
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

year {
    font-size: large;
    font-family: cursive;
    margin: 5px;
    text-align: end;
    margin-left: 220px;
}

price {
    font-size: large;
    font-family: cursive;
    margin: 5px;
    text-align: left;
}