body{
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    font-size: 25pt;
    font-style: normal;
    font-weight: bold;
    color: rgb(2, 1, 12);
    text-align: center;
    text-decoration: underline;
}

table {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 1px solid black;
    font-size: 11pt;
    font-style: normal;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}

.title {
    text-decoration: underline;
    font-size: large;
}

input[type=text], select,input[type=email],input[type=date] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

